
*.log
.metadata/.lock
.metadata/.plugins/*

*.zip
*.json
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/*

*.ini
sgnt/mvnw
*.cmd
*.jar
sgnt/.mvn/wrapper/maven-wrapper.jar
sgnt/.tern-project
.recommenders/snipmatch/repositories/http___git_eclipse_org_gitroot_recommenders_org_eclipse_recommenders_snipmatch_snippets_git/
.recommenders/snipmatch/repositories.config
